<header>
  <nav class="navbar navbar-expand-lg bg-blue">
    <div class="container-fluid">

      <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.5 17.5C10.5 16.837 10.7634 16.2011 11.2322 15.7322C11.7011 15.2634 12.337 15 13 15H48C48.663 15 49.2989 15.2634 49.7678 15.7322C50.2366 16.2011 50.5 16.837 50.5 17.5C50.5 18.163 50.2366 18.7989 49.7678 19.2678C49.2989 19.7366 48.663 20 48 20H13C12.337 20 11.7011 19.7366 11.2322 19.2678C10.7634 18.7989 10.5 18.163 10.5 17.5ZM10.5 30C10.5 29.337 10.7634 28.7011 11.2322 28.2322C11.7011 27.7634 12.337 27.5 13 27.5H48C48.663 27.5 49.2989 27.7634 49.7678 28.2322C50.2366 28.7011 50.5 29.337 50.5 30C50.5 30.663 50.2366 31.2989 49.7678 31.7678C49.2989 32.2366 48.663 32.5 48 32.5H13C12.337 32.5 11.7011 32.2366 11.2322 31.7678C10.7634 31.2989 10.5 30.663 10.5 30ZM10.5 42.5C10.5 41.837 10.7634 41.2011 11.2322 40.7322C11.7011 40.2634 12.337 40 13 40H48C48.663 40 49.2989 40.2634 49.7678 40.7322C50.2366 41.2011 50.5 41.837 50.5 42.5C50.5 43.163 50.2366 43.7989 49.7678 44.2678C49.2989 44.7366 48.663 45 48 45H13C12.337 45 11.7011 44.7366 11.2322 44.2678C10.7634 43.7989 10.5 43.163 10.5 42.5Z" fill="white"/>
        </svg>
      </a>

      <a class="navbar-brand text-white mx-auto" href="/"><h1>TopNews</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      -->
    </div>
  </nav>
</header>

<div class="offcanvas offcanvas-start side-bar text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h1>TN</h1>

    <a type="button" class="" data-bs-dismiss="offcanvas" aria-label="Close">
      <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.5 17.5C10.5 16.837 10.7634 16.2011 11.2322 15.7322C11.7011 15.2634 12.337 15 13 15H48C48.663 15 49.2989 15.2634 49.7678 15.7322C50.2366 16.2011 50.5 16.837 50.5 17.5C50.5 18.163 50.2366 18.7989 49.7678 19.2678C49.2989 19.7366 48.663 20 48 20H13C12.337 20 11.7011 19.7366 11.2322 19.2678C10.7634 18.7989 10.5 18.163 10.5 17.5ZM10.5 30C10.5 29.337 10.7634 28.7011 11.2322 28.2322C11.7011 27.7634 12.337 27.5 13 27.5H48C48.663 27.5 49.2989 27.7634 49.7678 28.2322C50.2366 28.7011 50.5 29.337 50.5 30C50.5 30.663 50.2366 31.2989 49.7678 31.7678C49.2989 32.2366 48.663 32.5 48 32.5H13C12.337 32.5 11.7011 32.2366 11.2322 31.7678C10.7634 31.2989 10.5 30.663 10.5 30ZM10.5 42.5C10.5 41.837 10.7634 41.2011 11.2322 40.7322C11.7011 40.2634 12.337 40 13 40H48C48.663 40 49.2989 40.2634 49.7678 40.7322C50.2366 41.2011 50.5 41.837 50.5 42.5C50.5 43.163 50.2366 43.7989 49.7678 44.2678C49.2989 44.7366 48.663 45 48 45H13C12.337 45 11.7011 44.7366 11.2322 44.2678C10.7634 43.7989 10.5 43.163 10.5 42.5Z" fill="white"/>
      </svg>
    </a>

  </div>
  <div class="offcanvas-body">
    <div>
      <ul class="side-bar-list">
        <li class="my-3"><a href="\esportes">Esportes</a></li>
        <li class="my-3"><a href="\entreterimento">Entreterimento</a></li>
        <li class="my-3"><a href="\economia">Economia</a></li>
        <li class="my-3"><a href="\politica">Política</a></li>
        <li class="my-3"><a href="\saude">Saúde</a></li>
        <li class="my-3"><a href="\educacao">Educação</a></li>
        <li class="my-3"><a href="\internacional">Internacional</a></li>
        <li class="my-3"><a href="\ciencia">Ciência</a></li>
        <li class="my-3"><a href="\tecnologia">Tecnologia</a></li>
        <li class="my-3"><a href="\meio-ambiente">Meio Ambiente</a></li>
      </ul>
    </div>
  </div>
</div>