<div class="card">
  <div class="row g-0">
    <div class="col-7 p-3">
      <h3>Novo estudo revela avanços na cura do câncer de pulmão</h3>
      <p>Pesquisadores descobrem terapia promissora para o câncer de pulmão</p>
    </div>
    <div class="col-5 p-0 d-flex justify-content-end img-div">
      <img class="card-img-border news-img" src="news images\default.jpg" alt="">
    </div>
  </div>
</div>