.bg-blue {
  background: #1351B4;
}

.card-img-border {
  border-radius: 0 20px 20px 0;
}

.card {
  border-radius: 20px;
  max-height: 190px;
  overflow: hidden;
}

.img-div {
  position: relative;
}

div.card a {
  text-decoration: none;
  color: inherit;
}

div.card a:hover {
  text-decoration: none;
  color: inherit;
}

.news-img {
  max-width: 100%;
  display: block;

  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.fit-content-w {
  max-width: fit-content;
}

.text-white {
  color: #fff;
}

.side-bar-list {
  list-style-type: none;
}

.side-bar {
  background-color: #1351B4;
}

.side-bar a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 400;
}

.side-bar a:hover {
  color: inherit;
}

.btn-inv {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00000000;
  --bs-btn-border-color: #00000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}